# bottle-pi configuration file

port: 5000

systems:

  # Slot 1
  100000008011d9f5:
    serialnumber: 100000008011d9f5
    model: Raspberry Pi 4 Model B Rev 1.4
    features:
      ram: 8GB
    hostname: rpi-4b-rev1d4-d9f5
    gpios:
      power: 21
      gpio4: 2
    tcpport: 5006
    serialport: /dev/usb-ports/tty-1-1.4.1.2

  # Slot 2
  10000000519d2c1a:
    serialnumber: 10000000519d2c1a
    model: Raspberry Pi 4 Model B Rev 1.2
    features:
      ram: 4GB
    hostname: rpi-4b-rev1d2-2c1a
    gpios:
      power: 20
      gpio4: 3
    tcpport: 5001
    serialport: /dev/usb-ports/tty-1-1.4.1.4

  # Slot 3
  100000003c2d17cf:
    serialnumber: 100000003c2d17cf
    model: Raspberry Pi 4 Model B Rev 1.1
    features:
      ram: 4GB
    hostname: rpi-4b-rev1d1-17cf
    gpios:
      power: 16
      gpio4: 4
    tcpport: 5005
    serialport: /dev/usb-ports/tty-1-1.4.1.4.1

  # Slot 4
  100000008a8f5e8e:
    serialnumber: 100000008a8f5e8e
    model: Raspberry Pi 400 Rev 1.0
    features:
      ram: 4GB
    hostname: rpi-400-rev1d0-5e8e
    gpios:
      power: 12
      gpio4: 17
    tcpport: 5010
    serialport: /dev/usb-ports/tty-1-1.4.1.4.2

  # Slot 5
  10000000a780e428:
    serialnumber: 10000000a780e428
    model: Raspberry Pi Compute Module 4 Rev 1.0
    features:
      ram: 2GB
      emmc: 32GB
      wireless: no
    hostname: rpi-cm4-rev1d0-e428
    gpios:
      power: 7
      gpio4: 27
    tcpport: 5009
    serialport: /dev/usb-ports/tty-1-1.4.1.4.3

  # Slot 5
  10000000535a0643:
    serialnumber: 10000000535a0643
    model: Raspberry Pi Compute Module 4 Rev 1.0
    features:
      ram: 4GB
      emmc: no
      wireless: yes
    hostname: rpi-cm4-rev1d0-0643
    gpios:
      power: 7
      gpio4: 27
    tcpport: 5009
    serialport: /dev/usb-ports/tty-1-1.4.1.4.3

  # Slot 6
  00000000809740cc:
    serialnumber: 00000000809740cc
    model: Raspberry Pi Compute Module 3 Plus Rev 1.0
    features:
      ram: 1GB
      emmc: no
    hostname: rpi-cm3-plus-rev1d0-40cc
    gpios:
      power: 8
      gpio4: 22
    tcpport: 5008
    serialport: /dev/usb-ports/tty-1-1.4.1.4.4

  # Slot 7
  00000000d9b7dd65:
    serialnumber: 00000000d9b7dd65
    model: Raspberry Pi 3 Model A Plus Rev 1.0
    features:
    hostname: rpi-3a-plus-rev1d0-dd65
    gpios:
      power: 25
      gpio4: 10
    tcpport: 5007
    serialport: /dev/usb-ports/tty-1-1.4.2

  # Slot 8
  00000000553eabfb:
    serialnumber: 00000000553eabfb
    model: Raspberry Pi 3 Model B Plus Rev 1.3
    features:
    hostname: rpi-3b-plus-rev1d3-abfb
    gpios:
      power: 24
      gpio4: 9
    tcpport: 5002
    serialport: /dev/usb-ports/tty-1-1.4.3

  # Slot 9
  000000005db762e2:
    serialnumber: 000000005db762e2
    model: Raspberry Pi 3 Model B Rev 1.2
    features:
    hostname: rpi-3b-rev1d2-62e2
    gpios:
      power: 23
      gpio4: 11
    tcpport: 5003
    serialport: /dev/usb-ports/tty-1-1.4.4.1

  # Slot 10
  0000000013ae0fc1:
    serialnumber: 0000000013ae0fc1
    model: Raspberry Pi 2 Model B Rev 1.2
    features:
    hostname: rpi-2b-rev1d2-0fc1
    gpios:
      power: 18
      gpio4: 5
    tcpport: 5004
    serialport: /dev/usb-ports/tty-1-1.4.4.2

images:

  pathname: /srv/images
