# bottle-pi configuration file

port: 5000

systems:

  # Slot 1
  100000008011d9f5:
    serialnumber: 100000008011d9f5
    slot: 1
    model: Raspberry Pi 4 Model B Rev 1.4
    features:
      ram: 8GB
    hostname: rpi-4b-rev1d4-d9f5
    gpios:
      power: 2
      gpio4: 21
    serialport: /dev/usb-ports/tty-1-1.1.1.2
    tcpport: 5001

  # Slot 2
  10000000519d2c1a:
    serialnumber: 10000000519d2c1a
    slot: 2
    model: Raspberry Pi 4 Model B Rev 1.2
    features:
      ram: 4GB
    hostname: rpi-4b-rev1d2-2c1a
    gpios:
      power: 3
      gpio4: 20
    serialport: /dev/usb-ports/tty-1-1.1.1.3
    tcpport: 5002

  # Slot 3
  100000000d5b164b:
    serialnumber: 100000000d5b164b
    slot: 3
    model: Raspberry Pi 4 Model B Rev 1.2
    features:
      ram: 2GB
    hostname: rpi-4b-rev1d2-164b
    gpios:
      power: 4
      gpio4: 16
    serialport: /dev/usb-ports/tty-1-1.1.1.4.1
    tcpport: 5003

  # Slot 3
  100000003c2d17cf:
    serialnumber: 100000003c2d17cf
    slot: 3
    model: Raspberry Pi 4 Model B Rev 1.1
    features:
      ram: 4GB
    hostname: rpi-4b-rev1d1-17cf
    gpios:
      power: 4
      gpio4: 16
    serialport: /dev/usb-ports/tty-1-1.1.1.4.1
    tcpport: 5003

  # Slot 4
  100000008a8f5e8e:
    serialnumber: 100000008a8f5e8e
    slot: 4
    model: Raspberry Pi 400 Rev 1.0
    features:
      ram: 4GB
    hostname: rpi-400-rev1d0-5e8e
    gpios:
      power: 17
      gpio4: 12
    serialport: /dev/usb-ports/tty-1-1.1.1.4.2
    tcpport: 5004

  # Slot 5
  10000000a780e428:
    serialnumber: 10000000a780e428
    slot: 5
    model: Raspberry Pi Compute Module 4 Rev 1.0
    features:
      ram: 2GB
      emmc: 32GB
      wireless: no
    hostname: rpi-cm4-rev1d0-e428
    gpios:
      power: 27
      gpio4: 7
    serialport: /dev/usb-ports/tty-1-1.1.1.4.3
    tcpport: 5005

  # Slot 5
  10000000535a0643:
    serialnumber: 10000000535a0643
    slot: 5
    model: Raspberry Pi Compute Module 4 Rev 1.0
    features:
      ram: 4GB
      emmc: no
      wireless: yes
    hostname: rpi-cm4-rev1d0-0643
    gpios:
      power: 27
      gpio4: 7
    serialport: /dev/usb-ports/tty-1-1.1.1.4.3
    tcpport: 5005

  # Slot 6
  00000000809740cc:
    serialnumber: 00000000809740cc
    slot: 6
    model: Raspberry Pi Compute Module 3 Plus Rev 1.0
    features:
      ram: 1GB
      emmc: no
    hostname: rpi-cm3-plus-rev1d0-40cc
    gpios:
      power: 22
      gpio4: 8
    serialport: /dev/usb-ports/tty-1-1.1.1.4.4
    tcpport: 5006

  # Slot 7
  00000000d9b7dd65:
    serialnumber: 00000000d9b7dd65
    slot: 7
    model: Raspberry Pi 3 Model A Plus Rev 1.0
    features:
      ram: 512MB
    hostname: rpi-3a-plus-rev1d0-dd65
    gpios:
      power: 10
      gpio4: 25
    serialport: /dev/usb-ports/tty-1-1.1.2
    tcpport: 5007

  # Slot 8
  00000000553eabfb:
    serialnumber: 00000000553eabfb
    slot: 8
    model: Raspberry Pi 3 Model B Plus Rev 1.3
    features:
      ram: 1GB
    hostname: rpi-3b-plus-rev1d3-abfb
    gpios:
      power: 9
      gpio4: 24
    serialport: /dev/usb-ports/tty-1-1.1.3
    tcpport: 5008

  # Slot 9
  000000005db762e2:
    serialnumber: 000000005db762e2
    slot: 9
    model: Raspberry Pi 3 Model B Rev 1.2
    features:
      ram: 1GB
    hostname: rpi-3b-rev1d2-62e2
    gpios:
      power: 11
      gpio4: 23
    serialport: /dev/usb-ports/tty-1-1.1.4.1
    tcpport: 5009

  # Slot 10
  0000000013ae0fc1:
    serialnumber: 0000000013ae0fc1
    slot: 10
    model: Raspberry Pi 2 Model B Rev 1.2
    features:
      ram: 1GB
    hostname: rpi-2b-rev1d2-0fc1
    gpios:
      power: 5
      gpio4: 18
    serialport: /dev/usb-ports/tty-1-1.1.4.2
    tcpport: 5010

  # Slot 11
  00000000159b2c3c:
    serialnumber: 00000000159b2c3c
    slot: 11
    model: Raspberry Pi Zero 2 Rev 1.0
    features:
      ram: 512MB
    hostname: rpi-zero2-rev1d0-2c3c
    gpios:
      power: 6
      gpio4: 15
    serialport: /dev/usb-ports/tty-1-1.1.4.3
    tcpport: 5011

images:

  pathname: /srv/images
